* {
  padding: 0;
  margin: 0;
}
body {
  background-color: hsl(210, 46%, 95%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 95vh;
  font-family: 'Manrope';
}
.main-container {
  width: 55%;
  background-color: white;
  position: relative;
}
.image-container {
  box-sizing: border-box;
  width: 35%;
  overflow: hidden;
  background: url(./images/drawers.jpg);
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.text-container {
  box-sizing: border-box;
  width: 60%;
  overflow: hidden;
  margin-left: 37%;
  padding: 20px;
}
.text-container h2 {
  color: hsl(217, 19%, 35%);
  padding: 10px 0px;
  font-size: 2vw;
}
.text-container p {
  color: hsl(212, 23%, 69%);
  font-size:13px;
  padding: 10px 0px;
}
.profile-card img {
  border-radius: 50%;
}
.profile-card {
  float: left;
}
.profile-card img,.details {
  float: left;
}
.details {
  margin-left: 15px;
}
.details p {
  padding: 3px 0px;
}
#name {
  color: hsl(217, 19%, 35%);
  font-weight: bold;
}
.author {
  padding: 10px 0px;
}
.share {
  float: right;
  width: 30px;
  height: 30px;
  background-color: hsl(210, 46%, 95%);
  position: relative;
  border-radius: 50%;
  user-select: none;
}
.share svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.share-container {
  background-color: hsl(217, 19%, 35%);
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  bottom: 30%;
  right: 0;
  z-index: 5;
  display: none;
}
.share-container span {
  color: hsl(212, 23%, 69%);
  font-size:13px;
  letter-spacing: 2px;
}
.share-container span,img {
  padding: 0px 10px;
}
.triangle {
  display: none;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid hsl(217, 19%, 35%);
  position: absolute;
  bottom: 25%;
  right: 3%;
  z-index: 4;
}
.attribution {
  position: absolute;
  bottom: 20px;
}
@media only screen and (max-width:1033px) {
    .image-container,.text-container,.main-container {
      float: none;
      width: 80%;  
      position: relative;
      overflow: scroll;
    }
    .image-container{
      width: 100%;
      height: 50vh;
    }
    .text-container {
      width: 100%;
      height: auto;
      margin: 0;
    }
    .text-container h2 {
      font-size: 4vw;
    }
    .text-container p {
      font-size: 2vw;
    }
    .main-container {
      height: auto;
      border-radius: 10px;
    }
    .triangle {
      border: none;
    }
    .share-container {
      position: absolute;
      bottom: 0;
      width: 100%;
      margin: 0;
      left: 0;
      right: 0;
      overflow: hidden;
      padding:30px 0px;
      display: none;
    }
    .share-container span {
      margin-left: 50px;
    }
    .share {
      z-index: 10;
    }
  }
  